In [1]:
import pandas as pd

In [2]:
budgetdatadf = pd.read_csv('budget_data.csv')
budgetdatadf.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
#check data type
budgetdatadf.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [9]:
budgetdatadf = pd.read_csv('budget_data.csv', parse_dates=['Date'])
budgetdatadf.head(10)

        Date  Profit/Losses
0 2010-01-01         867884
1 2010-02-01         984655
2 2010-03-01         322013
3 2010-04-01         -69417
4 2010-05-01         310503
5 2010-06-01         522857
6 2010-07-01        1033096
7 2010-08-01         604885
8 2010-09-01        -216386
9 2010-10-01         477532

In [10]:
budgetdatadf['Date'] = budgetdatadf['Date'].dt.to_period(freq = 'M')

In [13]:
budgetdatadf.head(100)

       Date  Profit/Losses
0   2010-01         867884
1   2010-02         984655
2   2010-03         322013
3   2010-04         -69417
4   2010-05         310503
..      ...            ...
81  2016-10         102685
82  2016-11         795914
83  2016-12          60988
84  2017-01         138230
85  2017-02         671099

[86 rows x 2 columns]

In [16]:
budgetdatadf.dtypes

Date             period[M]
Profit/Losses        int64
dtype: object

In [19]:
#aggregate sales
budgetdatadf = budgetdatadf.groupby(by=['Date']).sum()
budgetdatadf

         Profit/Losses
Date
2010-01         867884
2010-02         984655
2010-03         322013
2010-04         -69417
2010-05         310503
...                ...
2016-10         102685
2016-11         795914
2016-12          60988
2017-01         138230
2017-02         671099

[86 rows x 1 columns]

In [22]:
#finding how many months we have
budgetdatadf.shape[0]

86

In [24]:
budgetdatadf.sum()

Profit/Losses    38382578
dtype: int64

In [27]:
#The average of the changes in Profit/Losses over the entire period.

budgetdatadf['shift1'] = budgetdatadf['Profit/Losses'].shift(1)
budgetdatadf.head

<bound method NDFrame.head of          Profit/Losses    Change    shift1
Date
2010-01         867884       NaN       NaN
2010-02         984655  867884.0  867884.0
2010-03         322013  984655.0  984655.0
2010-04         -69417  322013.0  322013.0
2010-05         310503  -69417.0  -69417.0
...                ...       ...       ...
2016-10         102685  768450.0  768450.0
2016-11         795914  102685.0  102685.0
2016-12          60988  795914.0  795914.0
2017-01         138230   60988.0   60988.0
2017-02         671099  138230.0  138230.0

[86 rows x 3 columns]>